.backgroundTest {
  background-color: #ee0d0d;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar-middle {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: #354B53;
  z-index: 1001;
  min-width: 75px;

}

.topbar {
  height: 50px;
  background-color: #354B53;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0px 5px 10px #0000004a;
}

.dashboard::-webkit-scrollbar {
  width: 10px;
}

.dashboard::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.dashboard::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.dashboard {
  overflow-y: auto;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5vw;
  justify-content: center;
}

.rep-screen {
  height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.finished-tasks {
  overflow-y: auto;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5vw;
  justify-content: center;
}

.priority-board,
.secondary-board,
.last-board {
  width: 25vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 20px;
}

.history-board {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 20px;
}

.tasks {
  box-shadow: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  padding: 10px;
  border-radius: 15px;
}

.draggable-box {
  position: absolute;
}

.delete-hover:hover {
  background-color: rgba(255, 0, 0, 0.833);
  cursor: pointer;
  transform: scale(1.1);
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  background-color: rgba(53, 52, 52, 0.8);
  border: none;
  color: white;
}

.radios {
  margin-right: 10px;
  accent-color: rgba(53, 52, 52, 0.8);
}



.titlebarButtons, .titlebarButtons-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3s ease;
  height: 40px;
  width: 50px;
  border: none;
  -webkit-app-region: no-drag;
}

.sidebar-item {
  transition: all 0.3s ease;
}

.sidebar-item-selected {
  transition: all 0.3s ease;
  background: linear-gradient(to right, rgb(70, 70, 70), rgb(5, 60, 81));
}

.sidebar-item:hover {
  background-color: rgba(53, 52, 52, 0.8);
  cursor: pointer;
}

.task-creator-opening {
  animation: task-creator-opening 0.3s forwards;
}

.task-creator-closing {
  animation: task-creator-closing 0.3s forwards;
}

@keyframes task-creator-closing {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }

}

@keyframes task-creator-opening {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.task-creator-button {
  background-color: rgba(34, 82, 71, 0.8);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task-creator-button:hover {
  background-color: rgba(53, 52, 52, 0.8);
  cursor: pointer;
  transform: scale(1.3);
}

.titlebarButtons:hover {
  background-color: #4c6067;
}

.titlebarButtons-close:hover {

  background-color: #a52929;
}

.title-bar {
  -webkit-app-region: drag;
}

.deleting {
  animation: deleteTask 1.3s forwards;
}

.finTask {
  animation: finTask 1.3s forwards;
}

@keyframes deleteTask {
  0% {
    opacity: 1;
    transform: scale(1)
  }

  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

@keyframes finTask {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2);

  }

  100% {
    transform: scale(1.2);
    transform: translate(-1000px, 0px);
  }
}

.fin-itens {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-icons:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  cursor: pointer;

}

.task-creator-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;

}


/*Loading Animation*/

main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dank-ass-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dank-ass-loader .row {
  display: flex;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid #1abdd3;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
  filter: drop-shadow(0 0 18px #0095ff);
}

.arrow.down {
  transform: rotate(180deg);
}

.arrow.outer-1 {
  -webkit-animation-delay: -0.0555555556s;
  animation-delay: -0.0555555556s;
}

.arrow.outer-2 {
  -webkit-animation-delay: -0.1111111111s;
  animation-delay: -0.1111111111s;
}

.arrow.outer-3 {
  -webkit-animation-delay: -0.1666666667s;
  animation-delay: -0.1666666667s;
}

.arrow.outer-4 {
  -webkit-animation-delay: -0.2222222222s;
  animation-delay: -0.2222222222s;
}

.arrow.outer-5 {
  -webkit-animation-delay: -0.2777777778s;
  animation-delay: -0.2777777778s;
}

.arrow.outer-6 {
  -webkit-animation-delay: -0.3333333333s;
  animation-delay: -0.3333333333s;
}

.arrow.outer-7 {
  -webkit-animation-delay: -0.3888888889s;
  animation-delay: -0.3888888889s;
}

.arrow.outer-8 {
  -webkit-animation-delay: -0.4444444444s;
  animation-delay: -0.4444444444s;
}

.arrow.outer-9 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.arrow.outer-10 {
  -webkit-animation-delay: -0.5555555556s;
  animation-delay: -0.5555555556s;
}

.arrow.outer-11 {
  -webkit-animation-delay: -0.6111111111s;
  animation-delay: -0.6111111111s;
}

.arrow.outer-12 {
  -webkit-animation-delay: -0.6666666667s;
  animation-delay: -0.6666666667s;
}

.arrow.outer-13 {
  -webkit-animation-delay: -0.7222222222s;
  animation-delay: -0.7222222222s;
}

.arrow.outer-14 {
  -webkit-animation-delay: -0.7777777778s;
  animation-delay: -0.7777777778s;
}

.arrow.outer-15 {
  -webkit-animation-delay: -0.8333333333s;
  animation-delay: -0.8333333333s;
}

.arrow.outer-16 {
  -webkit-animation-delay: -0.8888888889s;
  animation-delay: -0.8888888889s;
}

.arrow.outer-17 {
  -webkit-animation-delay: -0.9444444444s;
  animation-delay: -0.9444444444s;
}

.arrow.outer-18 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.arrow.inner-1 {
  -webkit-animation-delay: -0.1666666667s;
  animation-delay: -0.1666666667s;
}

.arrow.inner-2 {
  -webkit-animation-delay: -0.3333333333s;
  animation-delay: -0.3333333333s;
}

.arrow.inner-3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.arrow.inner-4 {
  -webkit-animation-delay: -0.6666666667s;
  animation-delay: -0.6666666667s;
}

.arrow.inner-5 {
  -webkit-animation-delay: -0.8333333333s;
  animation-delay: -0.8333333333s;
}

.arrow.inner-6 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

/*REP */
.reps {
  display: flex;
  padding: 20px;
  max-width: 800px;
  background: linear-gradient(to right, #354B53, #5A6B73);
  border-radius: 20px;
  flex-direction: column;
}

.reps-accessories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.search {
  display: flex;
  
  margin-top: 20px;
  margin-bottom: 20px;
  width: 820px;
  justify-content: space-evenly;
}

.search input {
  width: 700px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background: linear-gradient(to right, #3f2222, #19323e);
  outline: none;
  color: white;
  transition: all 0.3s ease;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #19323e;
  transition: all 0.3s ease;
}

.search button:hover {
  background-color: #7e8b91;
  transform: scale(1.1);
}


.rep-creator {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to right, #3f2222, #19323e);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.unlocked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input1 {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color:  #291818;
  outline: none;
  color: white;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.input1:hover {
  background-color: #3f2222;
}

.input-group {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 40px;
  background-color:  #291818;
  padding: 10px;
  border: none;
  border-radius: 10px;
  z-index: 1000;
}

.input-group:hover {
  background-color: #3f2222;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-group h4 {
  color: rgb(96, 95, 95);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.input-group-list{
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1e3842;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  min-height: 200px;
}
.input-group-button {
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: #152d37;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-group-button:hover {
  background-color: #7e8b91;
  transform: scale(1.1);
}

.checkInput1 {
  width: 20px;
  height: 20px;
  accent-color: #19323e;
}

.label1 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  gap: 10px;
}

.repC-button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #234657;
  color: white;
  transition: all 0.3s ease;
}

.repC-button:hover {
  background-color: #7e8b91;
  transform: scale(1.1);
}

.rep-button:hover {
  background-color: #7e8b91;
  transform: scale(1.1);
  transition: all 0.3s ease;
 
}

.unlocked1 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
}


.nfe-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #3f2222, #19323e);
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.nfe-screen button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  height: 80px;
  width: 80px;
  border: none;
  cursor: pointer;
  background-color: #234657;
  color: white;
  transition: all 0.3s ease;
}

.nfe-screen button:hover {
  background-color: #7e8b91;
  transform: scale(1.1);
}

.message {
  position: fixed;
  bottom: 30px;
  left: 30px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
}